@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap");

:root {
  --cell-color: #c9f9fc;
  --background-color: #e5e5e5;
  --cell-win-color: #89a99a;
  --gameboard-background-color: #ffffff;
  --border-color: #000000;
  --shadow-color: #000000;
  --candlelight: #fcd015;
  --yellow: #fbb500;
  --cell-gap: 1em;
  --shrink-size: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  font-family: "Exo", sans-serif;
  background-color: var(--background-color);
  height: 100vh;
}

.wrapper {
  display: grid;
  place-content: center;
  height: 100vh;
  row-gap: 1em;
}

.players {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.player-1,
.player-2 {
  cursor: pointer;
}

/* Gameboard styles */

.gameboard {
  background-color: var(--gameboard-background-color);
  width: calc(600px / var(--shrink-size));
  height: calc(600px / var(--shrink-size));
  border: 10px solid var(--border-color);
  border-radius: 16px;
  box-shadow: -8px 8px var(--shadow-color);

  display: grid;
  grid-template-columns: repeat(3, 75px);
  place-content: center;
  gap: var(--cell-gap);
}

.cell {
  font-size: 5rem;
  width: calc(150px / var(--shrink-size));
  height: calc(150px / var(--shrink-size));
  background-color: var(--cell-color);
  border: 5px solid var(--border-color);
  border-radius: 16px;
  box-shadow: -3px 5px var(--shadow-color);
  color: transparent;
  cursor: pointer;
  overflow: hidden;
  padding: 0em 0em 0.08em 0.05em;
  text-shadow: -4px 1px var(--shadow-color);
  -webkit-text-stroke: 2px var(--shadow-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.win {
  background-color: #93faa4;
}

.turn {
  border-bottom: 1px solid black;
}

/* Media query styles */
@media screen and (min-width: 620px) {
  .gameboard {
    width: 600px;
    height: 600px;

    display: grid;
    grid-template-columns: repeat(3, 150px);
    place-content: center;
    gap: var(--cell-gap);
  }

  .cell {
    font-size: 12rem;
    text-shadow: -8px 1px var(--shadow-color);
    -webkit-text-stroke: 4px var(--shadow-color);
    width: 150px;
    height: 150px;
  }
}
