@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap");

:root {
  --cell-color: #c9f9fc;
  --background-color: #e5e5e5;
  --cell-win-color: #89a99a;
  --gameboard-background-color: #ffffff;
  --border-color: #000000;
  --shadow-color: #000000;
  --winner: #008f18;
  --win-color: #93faa4;
  --draw-color: #e96363;
  --accent-color: #fcccc9;
  --cell-gap: 1em;
  --shrink-size: 2;
  --stagger-delay: 150ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  font-family: "Exo", sans-serif;
  background-color: var(--background-color);
  height: 100vh;
}

.wrapper {
  display: grid;
  place-content: center;
  height: 100vh;
}

.players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-items: center;
  text-align: center;
  font-size: 0.9rem;
  min-height: 50px;
}

.player-wrapper:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 50px;
  position: relative;
}

/* Dropdown styles */

.dropdown-container {
  align-self: center;
  padding-top: 1em;
}

.dropdown-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  transition: transform 300ms ease-in-out;
}

.dropdown-arrow.active {
  transform: rotate(225deg);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25em);
  right: 0;
  height: fit-content;
  background-color: var(--background-color);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: all 100ms ease-in-out;
  z-index: 99;
}

.dropdown-arrow.active + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Gameboard styles */

.gameboard {
  background-color: var(--gameboard-background-color);
  width: calc(600px / var(--shrink-size));
  height: calc(600px / var(--shrink-size));
  border: 5px solid var(--border-color);
  border-radius: 16px;
  box-shadow: -4px 4px var(--shadow-color);

  display: grid;
  grid-template-columns: repeat(3, 75px);
  place-content: center;
  gap: var(--cell-gap);
}

.cell {
  font-size: 5rem;
  width: calc(150px / var(--shrink-size));
  height: calc(150px / var(--shrink-size));
  background-color: var(--cell-color);
  border: 2px solid var(--border-color);
  border-radius: 16px;
  box-shadow: -1px 2px var(--shadow-color);
  color: transparent;
  cursor: pointer;
  overflow: hidden;
  padding: 0em 0em 0.08em 0.05em;
  text-shadow: -4px 1px var(--shadow-color);
  -webkit-text-stroke: 2px var(--shadow-color);
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: cellEntrance 500ms ease-out backwards;
}

/* Button styles */
button {
  font-family: "Exo", sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.restart-btn {
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  width: 30%;
  place-self: center;
  margin-top: 10px;
}

.dropdown-menu > button {
  text-align: center;
  appearance: none;
  border: none;
  width: 100%;
  padding: 1em;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  outline: none;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.restart-btn::before {
  border-radius: 5px;
}

.dropdown-menu > button:nth-child(1):before,
.dropdown-menu > button:nth-child(1) {
  border-radius: 5px 5px 0 0;
}

.dropdown-menu > button:nth-child(2) {
  border-radius: 0;
}

.dropdown-menu > button:nth-child(3):before,
.dropdown-menu > button:nth-child(3) {
  border-radius: 0 0 5px 5px;
}

button:hover::before,
button:focus::before {
  transform: scaleX(1);
}

/* Utility classes */
.winner {
  color: var(--winner);
}

.cell.win {
  background-color: var(--win-color);
}

.cell.draw {
  background-color: var(--draw-color);
}

.turn-indicator {
  height: 5px;
  background-color: black;
  animation: 300ms forwards turnSlider;
}

.win-animation {
  animation: 100ms ease-in-out infinite alternate win;
}

/* Animation */
@keyframes turnSlider {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes win {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes cellEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cell:nth-child(1) {
  animation-delay: calc(1 * var(--stagger-delay));
}

.cell:nth-child(2) {
  animation-delay: calc(2 * var(--stagger-delay));
}

.cell:nth-child(3) {
  animation-delay: calc(3 * var(--stagger-delay));
}

.cell:nth-child(4) {
  animation-delay: calc(4 * var(--stagger-delay));
}

.cell:nth-child(5) {
  animation-delay: calc(5 * var(--stagger-delay));
}

.cell:nth-child(6) {
  animation-delay: calc(6 * var(--stagger-delay));
}

.cell:nth-child(7) {
  animation-delay: calc(7 * var(--stagger-delay));
}

.cell:nth-child(8) {
  animation-delay: calc(8 * var(--stagger-delay));
}

.cell:nth-child(9) {
  animation-delay: calc(9 * var(--stagger-delay));
}

/* Media query styles */
@media screen and (min-width: 620px) {
  .gameboard {
    width: 600px;
    height: 600px;
    border: 10px solid var(--border-color);
    box-shadow: -8px 8px var(--shadow-color);

    display: grid;
    grid-template-columns: repeat(3, 150px);
    place-content: center;
    gap: var(--cell-gap);
  }

  .cell {
    font-size: 12rem;
    border: 5px solid var(--border-color);
    box-shadow: -3px 5px var(--shadow-color);
    text-shadow: -8px 1px var(--shadow-color);
    -webkit-text-stroke: 4px var(--shadow-color);
    width: 150px;
    height: 150px;
  }

  .players {
    font-size: 1.1rem;
    min-height: 70px;
  }

  .dropdown-menu {
    min-width: 200px;
  }

  button {
    font-size: 1rem;
  }

  .restart-btn {
    margin-top: 20px;
  }
}
